<a href="https://colab.research.google.com/github/muhbasit/E/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
tup = (5,6,7,8,4,3,2,5,7,8,9,9)

In [ ]:
print(tup)

(5, 6, 7, 8, 4, 3, 2, 5, 7, 8, 9, 9)

## Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
first = tup[0]
print(first)

5

# Allow Duplicate

Since tuples are indexed, they can have items with the same value:

In [ ]:
fruit = ("apple", "banana", "cherry", "apple", "cherry")
print(fruit)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length

To determine how many items a tuple has, use the len() function:

In [ ]:
n = len(tup)
print(n)

12

## Create Tuple with one variable

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
a = ("apple",)
print(type(a))

#NOT a tuple
b = ("apple")
print(type(b))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1)
print(type(tuple1))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
tuple2 = (1, 5, 7, 9, 3)
print(tuple2)
print(type(tuple2))

(1, 5, 7, 9, 3)
<class 'tuple'>

In [ ]:
tuple3 = (True, False, False)
print(tuple3)
print(type(tuple3))

(True, False, False)
<class 'tuple'>

## Tuple with tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
tupCon = tuple(("apple", "banana", "cherry"))
# note the double round-brackets
print(tupCon)

('apple', 'banana', 'cherry')

## Accessing Tuple Items

In [2]:
fruit = ("apple", "banana", "cherry", "apple", "cherry")
print(fruit[1])

banana

In [9]:
print(fruit[0])
print(fruit[1:5])
print(fruit[:3])
print(fruit[-1])
print(fruit[0:5:2])
print(fruit[-5:-1])
print(fruit[-5:5])
print(fruit[-5:5:2])

apple
('banana', 'cherry', 'apple', 'cherry')
('apple', 'banana', 'cherry')
cherry
('apple', 'cherry', 'cherry')
('apple', 'banana', 'cherry', 'apple')
('apple', 'banana', 'cherry', 'apple', 'cherry')
('apple', 'cherry', 'cherry')

## Check Item Exist in Tuple

To determine if a specified item is present in a tuple use the in keyword:

In [16]:
if 'apple' in fruit:
  print(True)

True

In [17]:
if 'apple1' not in fruit:
  print("False")

False