<a href="https://colab.research.google.com/github/muhbasit/E/blob/main/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating a dictionary using curly braces {}
fruits = {
    "apple": "a sweet and crunchy fruit",
    "banana": "a tropical yellow fruit",
    "cherry": "a small, round, red fruit"
}

# Accessing elements in the dictionary
print(fruits["apple"])  # Output: a sweet and crunchy fruit

# Adding a new key-value pair
fruits["orange"] = "a citrus fruit"

# Modifying a value
fruits["banana"] = "a delicious tropical fruit"

# Deleting a key-value pair
del fruits["cherry"]

# Iterating through keys and values
for fruit, description in fruits.items():
    print(f"{fruit}: {description}")

a sweet and crunchy fruit
apple: a sweet and crunchy fruit
banana: a delicious tropical fruit
orange: a citrus fruit

In [2]:
student = {
    "name": "Alice",
    "age": 20,
    "courses": {
        "math": 95,
        "science": 85,
        "history": 78
    }
}

# Accessing nested elements
print(student["name"])                 # Output: Alice
print(student["courses"]["math"])      # Output: 95

Alice
95

In [3]:
squared_numbers = {x: x**2 for x in range(1, 6)}
print(squared_numbers)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
print(student.keys())      # Output: dict_keys(['name', 'age', 'courses'])
print(student.values())    # Output: dict_values(['Alice', 20, {'math': 95, 'science': 85, 'history': 78}])
print(student.items())     # Output: dict_items([('name', 'Alice'), ('age', 20), ('courses', {'math': 95, 'science': 85, 'history': 78})])

dict_keys(['name', 'age', 'courses'])
dict_values(['Alice', 20, {'math': 95, 'science': 85, 'history': 78}])
dict_items([('name', 'Alice'), ('age', 20), ('courses', {'math': 95, 'science': 85, 'history': 78})])

In [5]:
student["address"] = "123 Main St"
print(student)

del student["age"]
print(student)

student["courses"]["english"] = 90
print(student)

{'name': 'Alice', 'age': 20, 'courses': {'math': 95, 'science': 85, 'history': 78}, 'address': '123 Main St'}
{'name': 'Alice', 'courses': {'math': 95, 'science': 85, 'history': 78}, 'address': '123 Main St'}
{'name': 'Alice', 'courses': {'math': 95, 'science': 85, 'history': 78, 'english': 90}, 'address': '123 Main St'}

In [6]:
sorted_keys = sorted(student)
print(sorted_keys)  # Output: ['address', 'courses', 'name']

sorted_items = sorted(student.items())
print(sorted_items)  # Output: [('address', '123 Main St'), ('courses', {'math': 95, 'science': 85, 'history': 78, 'english': 90}), ('name', 'Alice')]

['address', 'courses', 'name']
[('address', '123 Main St'), ('courses', {'math': 95, 'science': 85, 'history': 78, 'english': 90}), ('name', 'Alice')]