<a href="https://colab.research.google.com/github/muhbasit/E/blob/main/list2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

## Loop List

### Loop Through List

You can loop through the list items by using a for loop:

In [1]:
data = [2,4,4,5,5,7,8,8,9]

In [2]:
for i in data:
  print(i)

2
4
4
5
5
7
8
8
9

### Loop Through Index Number

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [4]:
for i in range(len(data)):
  print(data[i])

2
4
4
5
5
7
8
8
9

### Using While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [8]:
i = 0
while(i < len(data)):
  print(data[i])
  i += 1

2
4
4
5
5
7
8
8
9

### Looping using List Comparison

List Comprehension offers the shortest syntax for looping through lists:

In [11]:
[print(i) for i in data]

2
4
4
5
5
7
8
8
9

[None, None, None, None, None, None, None, None, None]

## List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:


## Syntax

list = [expression for item in iterable if condition == True]

In [12]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [14]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [27]:
fr = [i.upper for i in fruits]
print(fr)

[<built-in method upper of str object at 0x7b687df77a70>, <built-in method upper of str object at 0x7b687df77a30>, <built-in method upper of str object at 0x7b687df779b0>, <built-in method upper of str object at 0x7b687ecb50f0>, <built-in method upper of str object at 0x7b687df77f70>]

In [34]:
fo = [i if i=="apple" else "orange" for i in fruits]
print(fo)

['apple', 'orange', 'orange', 'orange', 'orange']

In [35]:
fo = [i if i!="apple" else "orange" for i in fruits]
print(fo)

['orange', 'banana', 'cherry', 'kiwi', 'mango']

In [13]:
y = []
for i in data:
  y.append(i)

print(y)

[2, 4, 4, 5, 5, 7, 8, 8, 9]

In [15]:
y = [i for i in data]
print(y)

[2, 4, 4, 5, 5, 7, 8, 8, 9]

In [17]:
z = [(i, i) for i in data]
print(z)

[(2, 2), (4, 4), (4, 4), (5, 5), (5, 5), (7, 7), (8, 8), (8, 8), (9, 9)]

In [18]:
w = [(i,i**2,i**3) for i in data]
print(w)

[(2, 4, 8), (4, 16, 64), (4, 16, 64), (5, 25, 125), (5, 25, 125), (7, 49, 343), (8, 64, 512), (8, 64, 512), (9, 81, 729)]

In [19]:
v = [(i,i**2,i**3, i**4) for i in data]
print(v)

[(2, 4, 8, 16), (4, 16, 64, 256), (4, 16, 64, 256), (5, 25, 125, 625), (5, 25, 125, 625), (7, 49, 343, 2401), (8, 64, 512, 4096), (8, 64, 512, 4096), (9, 81, 729, 6561)]

In [25]:
u = [(i, i**i) for i in data]
print(u)

[(2, 4), (4, 256), (4, 256), (5, 3125), (5, 3125), (7, 823543), (8, 16777216), (8, 16777216), (9, 387420489)]

## Sort List

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [43]:
fruits = ["apple", "kiwi", "banana", "cherry", "mango"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [44]:
data.sort()
print(data)

[2, 4, 4, 5, 5, 7, 8, 8, 9]

## Sort Descending

To sort descending, use the keyword argument reverse = True:

In [45]:
fruits.sort(reverse = True)
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']


## Customize Sorting

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [49]:
def myfunc(n):
  return abs(n - 50)

data = [100, 50, 65, 82, 23]
data.sort(key = myfunc)
print(data)

[50, 65, 23, 82, 100]

## List Copy

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [51]:
fruits = ["apple", "kiwi", "banana", "cherry", "mango"]
phal = fruits.copy()
print(phal)

['apple', 'kiwi', 'banana', 'cherry', 'mango']

In [52]:
fr = list(fruits)
print(fr)

['apple', 'kiwi', 'banana', 'cherry', 'mango']

## Join 2 lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [54]:
combine = fruits + data
print(combine)

['apple', 'kiwi', 'banana', 'cherry', 'mango', 50, 65, 23, 82, 100]

In [56]:
data.extend(fruits)
print(data)

[50, 65, 23, 82, 100, 'apple', 'kiwi', 'banana', 'cherry', 'mango', 'apple', 'kiwi', 'banana', 'cherry', 'mango']