<a href="https://colab.research.google.com/github/muhbasit/E/blob/main/list1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [1]:
list = [2,4,4,5,5,7,8,8,9]

In [2]:
print(list)

[2, 4, 4, 5, 5, 7, 8, 8, 9]

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

## List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [5]:
first = list[0]
print(first)
print(list[0])

2
2

## Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

In [8]:
# as first element is 2 so
first = list[0]
list[0] = 4
print(first)

4

## Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [9]:
fruit = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruit)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## List Length

To determine how many items a list has, use the len() function:

In [11]:
n = len(fruit)
print(n)

5

## List Items

List items can be of any data type:

In [13]:
# String List
list1 = ["apple", "banana", "cherry"]

In [21]:
print(type(list1))

<class 'list'>

In [17]:
# integers list
list2 = [1, 5, 7, 9, 3]

In [18]:
print(type(list2))

<class 'list'>

In [15]:
# Boolean list
list3 = [True, False, False]

In [20]:
print(type(list3))

<class 'list'>

# Access List Items

List items are indexed and you can access them by referring to the index number:

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# access first element
print(thislist[1])

# access last element
print(thislist[-1])

# access range of elements
print(thislist[2:5])

banana
mango
['cherry', 'orange', 'kiwi']

In [27]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [28]:
print(thislist[:5])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [32]:
print(thislist[-3:-1])

['kiwi', 'melon']

In [39]:
print(thislist[2:7:2])

['cherry', 'kiwi', 'mango']

## Check List Items

To determine if a specified item is present in a list use the in keyword:

In [40]:
if first in list:
  print(first, " is part of list", list)

4  is part of list [4, 4, 4, 5, 5, 7, 8, 8, 9]

In [41]:
print(4 in list)

True

In [42]:
print(23 in list)

False

In [43]:
print(23 not in list)

True

## Change List Items

### Change Item Values

To change the value of a specific item, refer to the index number:

In [44]:
fruit = ["apple", "banana", "cherry"]
fruit[1] = "blackcurrant"
print(fruit)

['apple', 'blackcurrant', 'cherry']

## Change Range of Items

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [45]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruit[1:3] = ["blackcurrant", "watermelon"]
print(fruit)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [46]:
fruit = ["apple", "banana", "cherry"]
fruit[1:3] = ["watermelon"]
print(fruit)

['apple', 'watermelon']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [47]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(2, "watermelon")
print(fruit)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items

To add an item to the end of the list, use the append() method:

In [48]:
fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [49]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(1, "orange")
print(fruit)

['apple', 'orange', 'banana', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method.

In [50]:
fruit = ["apple", "banana", "cherry"]
fruit1 = ["mango", "pineapple", "papaya"]
fruit.extend(fruit1)
print(fruit)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [51]:
fruit = ["apple", "banana", "cherry"]
fruit1 = ("kiwi", "orange")
fruit.extend(fruit1)
print(fruit)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List Items

The remove() method removes the specified item.

In [52]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

## Remove Specified Index

The pop() method removes the specified index.

In [53]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

## Delete List

The del keyword can also delete the list completely.

In [55]:
fruits = ["apple", "banana", "cherry"]
del(fruits)
print(fruits)

NameError: ignored

## Clear List

The clear() method empties the list.

The list still remains, but it has no content.

In [56]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]