<a href="https://colab.research.google.com/github/muhbasit/E/blob/main/group_data_mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
#create DataFrame
data = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'position': ['G', 'F', 'F', 'G', 'F', 'F', 'G', 'G'],
                   'points': [30, 22, 19, 14, 14, 11, 20, 28],
                   'assists': [4, 3, 7, 7, 12, 15, 8, 4]})

In [7]:
print(data.head)

<bound method NDFrame.head of   team position  points  assists
0    A        G      30        4
1    A        F      22        3
2    A        F      19        7
3    A        G      14        7
4    B        F      14       12
5    B        F      11       15
6    B        G      20        8
7    B        G      28        4>

In [8]:
print(data['points'])

0    30
1    22
2    19
3    14
4    14
5    11
6    20
7    28
Name: points, dtype: int64

In [10]:
n = len(data['points'])
print(n)

8

In [12]:
sum = 0
for i in data['points']:
  sum += i
print(sum)

158

In [13]:
mean = sum / n

In [14]:
print(mean)

19.75